body {
    opacity: 1;
    transition: 1s opacity;
    font-family : 'Manrope', sans-serif !important;
    color: white !important;
    background-color: rgb(0, 0, 0) !important;
}

body.fade{
    opacity: 0;
    transition: none;
}

section{
    padding: 1rem 2rem;
}

section h1{
    text-align: center;
    padding:0.5rem;
}

.sideNav{
    margin-left: 0.5rem;
    display: block;
    width: auto;
    height: auto;
    z-index: 1;
    position: fixed;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.navItem{
    margin: 0.5rem auto;
}

.navItem a{
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 1px solid white;
    background: transparent;
    transition: 0.25s;
}

.navItem p{
    position: absolute;
    margin-top: 0.05rem;
    margin-left: 2rem;
    display: none;
    overflow:hidden;
    white-space: nowrap;
    float:left;
    color: white;
    text-align: left;
}

.mainBox{
    padding: 0 0;
    width: 100%;
    height: 100vh;
}

#title{
    background-color: rgb(4, 4, 31) !important;
}

#titleContent{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 80%;
}

#titleContent img{
    max-width : 300px;
    max-height: 300px;
    border-radius: 50%;
}

.downButton{
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 95%;
    width: 100%;
    animation: downButtonMove 1s infinite;
}

.downButton i{
    color: white;
    font-size: 3rem;
}

.noDownButtonMove{
    animation: none;
}

@keyframes downButtonMove{
    0% { top: 95%;}
    50% {top: 92%; }
    100% {top: 95%; }
}

.cursor{
    display: inline-block;
    width: 1px;
    background-color: white;
    animation: blink 1s infinite;
}

.cursor.typing{
    animation: none;
}

@keyframes blink{
    0% { background-color: white;}
    49% { background-color: white;}
    50% { background-color: transparent;}
    99% { background-color: transparent;}
    100% {background-color: white;}
}

#aboutMe{
    padding-top: 2rem;
}

#aboutMe h2{
    padding-bottom: 0.5rem;
}

#aboutMe h2, p{
    text-align:center;
}

#contact{
    text-align: center;
}

#contact a{
    color: white;
    display: inline-block;
}

#contact p{
    float: right;
    margin-left: 0.5rem;
}

footer{
    padding: 16px;
    text-align: center;
}

@media only screen and (max-width: 425px){
    .sideNav{
        visibility: hidden;
    }
    #titleContent h1{
        font-size: 2rem;
    }
}

@media only screen and (max-width: 320px){
    #titleContent img{
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-height: 500px){
    .sideNav{
        visibility: hidden;
    }
    #titleContent img{
        height: 50vh;
        width: auto;
    }
    .downButton i{
        display: none;
    }
    #titleContent h1{
        font-size: 2rem;
    }
}

@media only screen and (max-width: 320px) and (max-height: 500px){
    #titleContent img{
        height: min(50vw, 50vh);
        width: auto;
    }
}
