@import './variables';

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-stack;
    margin: 0;
    background-color: $primary-color;

    section {
        width: 100%;
        box-sizing: border-box;
    }
}

section>div {
    padding: 2rem;
}

@media screen and (min-width: 576px) {
    section>div {
        padding: 2rem 2rem 2rem 5.5rem;
    }
}
