@import './variables';

footer{
    display: flexbox;
    flex-direction: column;
    background-color: $primary-color;
    width: 100vw;
    padding: 2rem;

    .copyright{
        flex-grow: 1;
        
    }

    @media screen and (min-width: 576px) {
        flex-direction: row;
    };
}